@import "variables.css";
@import "resets.css";
@import "text.css";
@import "colors.css";
@import "spacers.css";
@import "animations.css";


.btn {
  background-color: var(--color-primary);
  color: white;
}
.btn:hover {
  background-color: var(--color-secondary);
  color: white;
}

.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}


.container {
  max-width: 672px;
  margin: auto;
}
.grid {
  display: block;
  padding: 0 32px;
}
@media(min-width:768px) {
  .grid {
    display: grid;
    padding: 0;
    grid-template-columns: repeat(23, 1fr)
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}


.box-shadow-1 {
  box-shadow: 0 13px 18px 0 rgba(0,0,0,0.08), 0 39px 53px 0 rgba(0,0,0,0.22);
}
.box-shadow-2 {
  box-shadow: 0 13px 18px 0 rgba(0,0,0,0.08), 0 39px 53px 0 rgba(0,0,0,0.22);
}






body {
  font-family: -apple-system, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.hemisphere-hero-wrap {
  position: relative;
  width: var(--timer-hero-size);
  height: var(--timer-hero-size);
}
.hemisphere-wrap {
  position: relative;
  width: var(--timer-size);
  height: var(--timer-size);
}
.hemisphere,
.hemisphere-clip {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.hemisphere:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.left-hemisphere {
  -webkit-mask-image: linear-gradient(to left, transparent 50%, black 50%);
 } 
.left-hemisphere:after {
  background-image: linear-gradient(to left, var(--timer-bg-color) 50%, var(--timer-bar-color) 50%, var(--timer-bar-color) 100%);
  animation: left-half var(--timer-duration) linear forwards; 
}
.right-hemisphere {
  -webkit-mask-image: linear-gradient(to right, transparent 50%, black 50%);
}
.right-hemisphere:after {
  background-image: linear-gradient(to right, var(--timer-bg-color) 50%, var(--timer-bar-color) 50%, var(--timer-bar-color) 100%);
  animation: right-half var(--timer-duration) linear forwards;
}
.right-hemisphere-mask {
  background-image: linear-gradient(to left, transparent 50%, red 50%, red 100%);
  animation: none;
}
.hemisphere-hero-wrap .left-hemisphere:after,
.hemisphere-hero-wrap .right-hemisphere:after
{
  animation-duration: var(--timer-hero-duration);
  animation-iteration-count: infinite;
}

@keyframes left-half {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes right-half {
  50%,100% {
    transform: rotate(180deg);
  }
}

.hemisphere-clip {
  transform: scale(.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-holder {
  font-size: 100px;
  text-align: center;
}
.text-holder div {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #888;
}
