:root {
  --color-primary: #4a9ffe;
  --color-secondary: #ff88aa;

  --color-gray-darker: #131313;
  --color-gray-dark: #1e1e1e;
  --color-gray: #444;
  --color-gray-light: #e6e6e6;
  --color-gray-lighter: #f8f8f8;
  
  --timer-hero-duration: 5s;
  --timer-duration: 5s;
  --timer-bg-color: #5bf;
  --timer-bar-color: #f66;
  --timer-size: 540px;
  --timer-hero-size: 400px;

  --font-size-h1: 130px;

  --sp-1: 4px;
  --sp-2: 8px;
  --sp-3: 16px;
  --sp-4: 24px;
  --sp-5: 40px;
  --sp-6: 64px;
  --sp-7: 144px;
  --sp-8: 160px;
  --sp-n1: -4px;
  --sp-n2: -8px;
  --sp-n3: -16px;
  --sp-n4: -24px;
  --sp-n5: -40px;
  --sp-n6: -64px;
  --sp-n7: -144px;
  --sp-n8: -160px;
}